/* memberModify css*/

section{
    margin-bottom: 70px;
    margin-top: 30px;
}

table{
    margin: 0 auto;
    border-spacing: 23px;
}
.sec h1{
    text-align: center;
    margin-bottom: 1rem;
}

td input, select{
    width: 320px;
    height: 30px;
    font-size: 13px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.email-box input{
width: 130px;

}

.email-box select{
    width: 70px;
    height: 25px;
    margin-left: 3px;
    padding:0;
    font-size: 11px;
}

.phonenum select{
    width: 70px;
    height: 34px;
}
.phonenum input{
    text-align: center;
    padding: 0 5px;
    width: 200px;
}

.del-mem{
    float: right;
    font-size: 13px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.modify-btn>button{
    min-width: 439px;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #ea6946;
    color: #fff;
    cursor: pointer;

}
.modify-btn{
    display: flex;
    justify-content: center;
}
