.bidHistory-container {
    min-height: 100vh;
    margin: 0 auto;
    width:50%;
}

.bidHistory-title {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-start;
    margin-bottom: 15px;
}

.history-card {
    max-width: 700px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.round-number {
    font-weight: 700;
    font-size: 16px;
}

.bid-title {
    font-size: 14px;
    margin-top: 4px;
    color: #555;
}

.right-section {
    display: flex;
    text-align: right;
    font-size: 14px;
    margin-bottom: 21px;
}

.date {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 10px;
}
.status {
    padding: 4px 8px;
    border-radius: 7px;
    font-size: 12px;
    color: #fff;
}

/* 상태별 색상 */
.status.upcoming {
    background-color: #0054ff;
}

.status.ongoing {
    background-color: #2fcd37;
}

.status.ended {
    background-color: red;
}

.tags {
    margin-top: 10px;
    display: flex;
    gap: 8px;
}

.tags span {
    background-color: #e5e5e5;
    border-radius: 6px;
    padding: 4px 12px;
    font-size: 13px;
    color: #333;
}

.myPage-btn {
    border: none;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.prev-btn-wrap{
    display: flex;
    justify-content: right;
    max-width: 740px;
}

.prev-btn {
    width: 50px;
    padding: 6px;
    background-color: #ea6946;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin-left: 83%;
}

