/*로그인 css*/
section{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom: 142px;
    margin-top: 80px;
}
.login-btn{
    width: 100%;
    height: 50px;
    background-color: #EA6946;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
}
.side-btn{
    margin-bottom: 15px;
    color : #DBD5D5;
}

.side-btn a{
    text-decoration: none;
    margin: 0 10px;
    color : #777;
    font-size: 14px;
}

.sec{
    text-align: center;

}
.ip-box input{
    width: 320px;
    height: 35px;
    font-size: 15px;
    padding-left: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc ;
}

/*.nav-btn{*/
/*    margin-top: 20px;*/
/*    border: none;*/
/*    background: url("/img/btnG.png");*/
/*    width: 150px;*/
/*    height: 40px;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    cursor: pointer;*/
/*}*/

.social-login{
    margin-top: 10px;
overflow: hidden;
}

#naverIdLogin{
    float: left;
    margin-right: 3px;

}
.google-login{
    float: right;
    margin-left: 3px;
}
.nsm7Bb-HzV7m-LgbsSe-BPrWId{
    font-size: 13px;
}


