section{
    margin-bottom: 70px;
    margin-top: 30px;
}
table{
    margin: 0 auto;
    border-spacing:35px 20px;
}
.sec h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 1rem;
}
tr{
    vertical-align: top;
}
td{
    font-size: 16px;
}
td input, select{
    width: 320px;
    height: 30px;
    font-size: 13px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input::placeholder {
    font-size: 12px;
    color: #777;
}

.email-box input{
width: 130px;

}

.email-box select{
    width: 70px;
    height: 25px;
    margin-left: 3px;
    padding:0;
    font-size: 11px;
}
.phonenum{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.phonenum select{
    width: 80px;
    height: 34px;
}
.phonenum input{
    text-align: center;
    padding: 0 5px;
    width: 200px;
}

.join-btn>button{
    width: 500px;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #EA6946;
    color: white;
    cursor: pointer;

}

.join-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


/* 달력 부분 다자인*/
.MuiPaper-root{
    width:334px !important;
}

.MuiInputBase-root>input{
    padding: 5.5px 0px !important;
    width: 285px !important;
}
.MuiInputBase-root{
    padding:0 14px !important;
}
.MuiButtonBase-root{
    width:auto;
    padding:0 !important;
    margin:0;
    height:auto;
}