<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.bidcast.mapper.InquiryMapper">
    <insert id="registerInquiry" parameterType="com.project.bidcast.vo.InquiryDTO">
        INSERT INTO inquiry
            (user_key, title, content, reply, create_date)
        VALUES
            (#{userKey}, #{title}, #{content}, #{reply}, DEFAULT)
    </insert>

    <select id="getAllInquiries" resultType="com.project.bidcast.vo.InquiryDTO">
        SELECT
            inquiry_key AS inquiryKey,
            title,
            content,
            reply,
            create_date AS createDate
        FROM inquiry
        ORDER BY create_date DESC
    </select>


    <select id="getInquiriesByUserKey" parameterType="int" resultType="com.project.bidcast.vo.InquiryDTO">
        SELECT
            inquiry_key AS inquiryKey,
            user_key AS userKey,
            title,
            content,
            reply,
            create_date AS createDate,
            reply_date AS replyDate
        FROM inquiry
        WHERE user_key = #{userKey}
        ORDER BY create_date DESC
    </select>

</mapper>





